/* This is the file that contains the utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~node_modules/bytemd/dist/index.css' */


@font-face {
  font-family: WenYueQingLongTi;
  src        : url('/font/WenYueQingLongTi.otf');
}

.WenYueQingLongTi {
  font-family: WenYueQingLongTi;
}